.button {
    width: 246px;
    height: 60px;
    background-color: #302594;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    &_submit {
        width: 185px;
        margin: 0 auto;
    }
    &:hover {
        background-color: #4e42c1;
    }
}

.custom-radio {
    margin-right: 30px;
    cursor: pointer;
    &>input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &>span {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
    }
    // &>span {
    //     display: inline-flex;
    //     align-items: center;
    //     user-select: none;
    // }
    // &>span::before {
    //     content: '';
    //     display: block;
    //     width: 19px;
    //     height: 19px;
    //     position: absolute;
    //     top: 45px;
    //     left: 11px;
    //     border: 1px solid #000;
    //     border-radius: 50%;
    //     margin-right: 0.5em;
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-size: 50% 50%;
    // }
    // &>input:not(:disabled):not(:checked)+span:hover::before {
    //     border-color: #000;
    // }
    // &>input:not(:disabled):active+span::before {
    //     background-color: #000;
    //     border-color: #b3d7ff;
    // }
    // &>input:checked+span::before {
    //     background-color: #000;
    //     // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    // }
    // &>input:focus+span::before {
    //     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    // }
}
